@charset "utf-8";
/* CSS Document */

#body {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #FFF
}

#goTopBtn {
    POSITION: fixed;
    TEXT-ALIGN: center;
    LINE-HEIGHT: 30px;
    WIDTH: 30px;
    BOTTOM: 35px;
    HEIGHT: 33px;
    FONT-SIZE: 12px;
    CURSOR: pointer;
    RIGHT: 0px;
    _position: absolute;
    _right: auto
}

a:link {
    text-decoration: none;
    color: darkblue;
}

a:visited {
    text-decoration: none;
    color: #309;
}

a:hover, a:active {
    color: #3366ff;
}

/* a:active{color: #0000ff;}*/
a, img {
    border-style: none;
    outline: none !important
}

a#alt:link {
    text-indent: 2em;
    background: #EAF2D3
}

a#alt:visited {
    text-indent: 2em;
    background: #EAF2D3
}

a#alt:hover {
    text-indent: 2em;
    background: #EAF2D3
}

a#alt:active {
    text-indent: 2em;
    background: #EAF2D3
}

.span {
    background: #99ffcc;
    border-top: 1px #38538c;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 6px;
}

#page {
    page-break-after: always;
    padding: 100px 20px 20px 20px;
}

body {
    font-size: 14px;
    padding: 0;
    font-family: "Times New Roman"
}

ul {
    font-size: 1.5em;
    line-height: 1.5;
    font-family: ����
}

ul.alt {
    font-size: 0.9em;
    line-height: 1.2;
    font-family: ����;
    margin: 0
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #330099;
    font-family: ����
}

h2 {
    font-size: 1.5em;
    color: green
}

h2.big {
    font-size: 1.5em;
    color: darkblue;
    font-family: ����
}

h3 {
    font-size: 1.2em;
    text-indent: 0.5em;
    color: green;
    padding-top: 10px;
}

h4 {
    font-size: 1em;
    text-indent: 1em
}

.help .ui-icon {
    display: inline-block;
    color: blue;
    cursor: pointer;
}

.help {
    color: blue;
    cursor: pointer;
    margin-left: 3px;
}

.modal h3, .modal h4, .modal h5 {
    font-weight: bolder;
    padding-left: 0px;
    margin-left: 0px;
}

.modal, .col-md-10 .modal-dialog {
    width: 100%;
}

#blueimp-gallery {
    background-color: rgba(0, 0, 0, .5);
}

.modal-content {
    padding: 20px;
}

span.ui-icon-help {
    background-position: -53px -144px;
    width: 10px;
    height: 16px;
}

p.head {
    text-align: right;
    color: grey;
    font-family: ����Ҧ��;
    padding-top: 20px;
}

p.center {
    text-align: center
}

p.name_fig {
    text-align: center;
    line-height: 1.5;
    font-size: 0.9em;
    margin-left: 2em;
    margin-right: 2em
}

p.name_table {
    line-height: 1.5;
    font-size: 0.9em;
    margin-left: 2em;
    margin-right: 2em
}

p.premark {
    text-align: left;
    line-height: 1.5;
    font-size: 0.8em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 2px 0px;
    font-family: monospace;
}

p.tremark {
    line-height: 1.5;
    margin-left: 2em;
    font-size: 0.8em
}

p.seq {
    line-height: 1.5;
    font-size: 0.8em;
    margin-left: 2em;
    margin-right: 2em;
    font-family: Courier New
}

p.ref {
    font-family: Arial;
    line-height: 1.5;
    font-size: 0.9em;
    padding-left: 30px;
}

p.paragraph {
    padding-left: 30px;
}

img.logo {
    height: 40px;
    margin: 10px 0px 0px 20px;
}

.head img.logo {
    margin: 0px;
}

img.exp {
    width: 300px;
}

img.exp1 {
    width: 400px;
}

img.normal {
    height: auto
}

/*img.normal1 {width:500px}
img.normal2 {height:auto; width:200px}
img.normal3 {width:60%}
img.normal4 {height:auto; width:350px}*/
img.small {
    height: 60%;
    width: 60%
}

img.middle {
    height: 70%;
    width: 70%
}

img.middle2 {
    height: 80%;
    width: 80%
}

/*img.small2 {height: auto; width: 50%}
img.small3 {height: auto; width: 70%}
img.small4 {height: auto; width: 65%}
img.small5 {height: auto;  width: 55%}*/
img.floating {
    height: auto;
    width: 450px
}

img.wid {
    height: 550px;
    width: 90%
}

/*img.wid2 { width:700px}*/


.tb {
    overflow: auto;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.gy {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 98%;
    border-collapse: collapse;
}

.gy td, .gy th {
    font-size: 0.8em;
    border: 1px solid #999;
    padding: 3px 7px 2px 7px;
    text-align: center;
}

.gy th {
    font-size: 0.8em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    color: #FFF;
    background-color: #495E6E;
}

.gy tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}


.index li {
    list-style-type: none;
    padding-left: 0;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #FFF;
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 0px;
}

.menu h1 {
    margin-top: 0px;
}

.menu ul {
    list-style-type: none;
    padding: 0px
}

.main_menu {
    margin-right: 20px;
}

.main_menu li {
    float: right;
    background: none repeat scroll 0 0 #495E6E;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 1px;
    text-align: center;
    width: 130px;
    font-size: 14px;
    border-top: 1px #38538c;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 3px;
}

.main_menu li:hover {
    background: none repeat scroll 0 0 #20B2AA;
    box-shadow: 0 0 10px #9ACD32
}

.main_menu li ul {
    display: none;
}

.main_menu li ul:hover {
    display: block;
}

#menu_list {
    z-index: 101;
    position: relative;
}

#menu_list li {
    margin: 0;
    width: 100%;
    font-size: 12px;
    float: left;
    height: 25px;
    line-height: 25px;
    border: 1px dotted #CCE;
    background-color: #20B2AA;
    border-radius: 0px;
}

#menu_list li a, .main_menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

div.broad {
    width: 800px;
}

div.broad .fullview img, div.broad .fullview {
    width: 680px;
    height: 340px;
}

div.broad .imglistwrap {
    height: 310px;
}

div.broad .slider {
    height: 340px;
}

/* 控制弹出窗口的大小 */
div.blueimp-gallery .modal-dialog {
    max-width: 900px;
}

.albumSlider {
    width: 600px;
    background: #F2F2F2;
    margin: 0 auto;
    padding: 10px;
    font-size: 10px;
    position: relative;
    overflow: hidden;
}

.albumSlider .fullview {
    position: relative;
    float: left;
}

.albumSlider .fullview, .albumSlider .fullview img {
    width: 480px;
    height: 480px;
    background-color: #FFF;
}

.albumSlider .fullview img {
    position: absolute;
    top: 0;
    left: 0;
}

.albumSlider .slider {
    width: 110px;
    height: 480px;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.albumSlider .imglistwrap {
    height: 448px;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
}

.albumSlider .imglist {
    position: relative;
}

.albumSlider ul {
    list-style-type: none;
    padding-left: 0
}

.albumSlider li {
    height: 96px;
    margin-top: 0;
    clear: both;
    list-style: none;
}

.albumSlider li img {
    width: 90px;
    height: 90px;
    float: right;
    display: inline;
    margin: 2px 2px 0 0;
    border: 1px solid #EAF2D3;
}

.albumSlider a {
    width: 103px;
    height: 96px;
    display: block;
    outline: none;
}

.albumSlider li a:hover,
.albumSlider li.current a {
    background: url(../image/album-slider-arrow_box.png) no-repeat 0 0;
}

.albumSlider .button {
    width: 100px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;
    background: url(../image/album-slider-button.png) no-repeat 50% 100%;
}

.albumSlider .movebackward {
    background-position: 50% 0;
}

.albumSlider1 {
    width: 1000px;
    background: #EAF2D3;
    margin: 0 auto;
    padding: 10px;
    font-size: 10px;
    position: relative;
    overflow: hidden;
}

.albumSlider1 .fullview {
    position: relative;
    float: left;
}

.albumSlider1 .fullview,
.albumSlider1 .fullview img {
    width: 900px;
    height: 480px;
}

.albumSlider1 .fullview img {
    position: absolute;
    top: 0;
    left: 0;
}

.albumSlider1 .slider {
    width: 110px;
    height: 480px;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.albumSlider1 .imglistwrap {
    height: 448px;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
}

.albumSlider1 .imglist {
    position: relative;
}

.albumSlider1 ul {
    list-style-type: none;
    padding-left: 0
}

.albumSlider1 li {
    height: 96px;
    margin-top: 0;
    clear: both;
    list-style: none;
}

.albumSlider1 li img {
    width: 90px;
    height: 90px;
    float: right;
    display: inline;
    margin: 2px 2px 0 0;
    border: 1px solid #EAF2D3;
}

.albumSlider1 a {
    width: 103px;
    height: 96px;
    display: block;
    outline: none;
}

.albumSlider1 li a:hover,
.albumSlider1 li.current a {
    background: url(../image/album-slider-arrow_box.png) no-repeat 0 0;
}

.albumSlider1 .button {
    width: 100px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;
    background: url(../image/album-slider-button.png) no-repeat 50% 100%;
}

.albumSlider1 .movebackward {
    background-position: 50% 0;
}

#chart_div {
    text-align: center;
    margin: 0px auto;
    min-width: 700px;
    max-width: 950px
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.italic {
    font-style: italic;
    font-family: "Times New Roman";
}

.bigger {
    font-family: "Times New Roman";
    font-size: 16px;
}

.smaller {
    display: -webkit-inline-box;
    font-family: "Times New Roman";
    font-size: 9px;
    -webkit-transform: scale(0.75) translate(-1px, 8px); /*12��0.75= 9,translate����λ�ã��Ӿ������*/
    letter-spacing: 1px; /*���1px*/
}

.newfont {
    font-family: "Times New Roman";
}